  <section id="preview">
	  <div class="container">
		<div class="col-twelve tab-full">
				 <div class="row" style="float: left">
					 <div class="col-xs-12 col-sm-4 col-md-4">
						 <div class="subdiv" style="text-align: center">
							 <img _ngcontent-gdr-55="" ng-disabled="true" style="width: 50px; height: 50px;"src="{{iMSNPath}}">
							 <h2 style="color: #05bca9;">{{ "Texth21" | translate }}</h2>
							 <div>
								 <p style="text-align: left">
									{{ "Text1" | translate }}
								</p>
							 </div>
						 </div>
					 </div>
					 <div class="col-xs-12 col-sm-4 col-md-4">
						 <div class="subdiv" style="text-align: center">
							 <img _ngcontent-gdr-55="" ng-disabled="true" style="width: 50px; height: 50px;" src="{{logoPath}}">
							 <h2 style="color: #05bca9;">{{ "Texth22" | translate }}</h2>
							 <div>
							 	<p style="text-align: left">
									 {{ "Text2" | translate }}
								</p>
							 </div>
						 </div>
					 </div>
					 <div class="col-xs-12 col-sm-4 col-md-4">
						 <div class="subdiv" style="text-align: center">
							 <img _ngcontent-gdr-55="" ng-disabled="true" style="width: 50px; height: 50px;"src="{{whyPath}}">
							 <h2 style="color: #05bca9;">{{ "Texth23" | translate }}</h2>
							 <div>
							 	<p style="text-align: left">
									 {{ "Text3" | translate }}
						     	</p>
							 </div>
						 </div>
					 </div>
				 </div>
		</div>
	  </div>
	</section>