<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MilicaZivkovic.Properties.Settings.mobilnaTelefonijaConnectionString"
            connectionString="Data Source=(localdb)\viz;Initial Catalog=mobilnaTelefonija;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MilicaZivkovic.Properties.Settings.mobilnaTelefonijaConnectionString1"
            connectionString="Data Source=(localdb)\telefonija;Initial Catalog=mobilnaTelefonija;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>