.center{
    margin:auto !important;
    float:none !important;
}

.circle{
    display: block;
    width:50%;
    float:left;
}

.circle:first-child{
    float:none;
    margin:auto;
    clear:both;
}

li:hover a{
     background: white !important;
    color:#438eb8 !important
}

@media screen and (max-width:768px)
{
    .circle{
        width:100%;
    }
}

div{
    padding: 10px;
    padding-top:0;
}

.input-group{
    padding:0;
}

.move{
    position: relative !important;
    top:-75px !important;
}

@media screen and (min-width:660px) and (max-width:700px){
    #works,#chart{
        position: relative !important;
        top:50px !important;
    }
}

@media screen and (min-width:701px) and (max-width:768px){
    #works,#chart{
        position: relative !important;
        top:80px !important;
    }
}

@media screen and (max-width:466px){
    img{
        width:40% !important;
    }

     #works,#chart{
        position: relative !important;
        top:-50px !important;
    }

    #pass{
        height:350px !important;
    }

    #change{
        height:500px !important;
    }
}

@media screen and (min-width:769px) and (max-width:1084px){
    img{
        width:40% !important;
    }

     #chart{
        position: relative !important;
        top:-100px !important;
    }
    #works{
        position: relative !important;
        top:-80px !important;
    }
}

@media screen and (max-width:1084px) and (min-width:769px){
    #pass{
        height:400px !important;
    }

    #change{
        height:500px !important;
    }
}

.moveUser{
    position: relative !important;
    top:-70px !important;
}

.imgUser{
    width:40% !important;
    top:-50px !important;
}



#lang{
    position: relative;
    float: left;
    width: 41px;
    top:-32px;
    z-index: 505;
    margin-left:10px;
}

.lang{
    position: relative;
    left:0;
    right: 0;
    z-index: 5;
    bottom: 0px;
}

.activeL{
    z-index: 10;
    height: 31px !important;
    bottom: -31px;
}

@media screen and (min-width:992px) and (max-width:1200px)
{
    .custom{
        width: 60% !important;
        margin-left:20% !important;
    }
}

@media screen and (min-width:769px)
{
    .imgOwner{
        margin-left: 20px !important;
        position: relative !important;
        top:-95px !important;
        width: 35% !important;
    }
}

@media screen and (max-width:1100px) and (min-width:769px)
{
    .imgOwner{
        margin-left: 20px !important;
        top:-110px !important;
        width: 35% !important;
    }
}



@media screen and (min-width:769px) and (max-width:900px)
{
    .move{
        top:-70px !important;
    }
}