body {
   
    
   
    color:white;
    margin:0;
    padding:0;
    
    background-color:darkred;

    background-image: url('Images/home-poster.png');
    min-height:100%;
    
    
    
}
.content {
    padding:15px 0px;
    margin: 0 auto ;
    overflow:auto;
    background-color:white;
    color: black;
    text-align:center;
    opacity: 0.9;
  
   
}

.aspNetHidden {
    width:0;
    padding:0;
    margin:0;

}
div {
    
    margin:0;
    width:65%;
    padding:15px;

}

.content ul {
    background-color:darkred;
    margin:0;
    padding:5px;
    border:1px solid white;
    resize:none;
    
}

.content li{
    display:inline-block;
    width:23%;
    text-align:center;
    height:30px;
    vertical-align:middle;
    font-size:23px;
    margin: 0;
}

a {
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    font-weight:bold;
}
a:hover {
     color: burlywood;
 }

th {
    text-transform:uppercase;
    font-weight:bold;
    background-color:burlywood;
    color:darkred;
    font-weight:bold;
    
}
table#GridView1  tr:hover {
    background-color:burlywood;
    color:darkred;
    opacity:1;
}

.tabela {
    border:none;
    margin:0 auto;
    font-size:25px;
    
}
#error {
    color:red;
    font-weight:bold;
}
input[type=submit] {
    border-radius:5px;
    background-color:darkred;
    width:140px;
    height:40px;
    color:white;
    
}
input[type=submit]:hover {
   background-color: burlywood;
}
table#GridView1 {
    margin-left: 10%;
   opacity:1;
   font-size:19px;
}

.page {
    background-color:white;
    color: black;
    text-align:center;
    opacity: 0.9;
    width: 100%;
    overflow:auto;
    padding: 6% 0;
    
}
td {
    min-width:100px;
    padding: 3px 0px;
    border-color:darkred;
}
textarea {
    resize:none;
    overflow:auto;
    min-width: 100px;
    min-height:100px;
    font-size:20px;
    font-family: "Times New Roman", Times, serif;
}


.pet_div1 {
    float:left;
    width:65%;
    padding: 5% 0;
    font-size:26px;
   
}

.pet_div {
 
   float:left;
   width:30%;
   background-color:darkred;
   height:auto;
}
img {
    margin:0;
}

.img3 {
    padding: 0 10%;
}

