<div style="" >
    <form id="msform">
        <ul id="progressbar">
            <li id="ku" class="active">{{"Izbor kulture" | translate}}</li>
            <li id="us">{{"Podesite uslove" | translate}}</li>
            <li id="ak">{{"Zadajte akciju" | translate}}</li>
        </ul>
        <fieldset id="prvi">
            <h2 class="fs-title">{{"Izbor kulture" | translate}}</h2>
            <div class="table-responsive"  message-position="top" id="cult" >
                <table class="table table-hover" style=" width: 70%; margin: 0 auto;  max-height:200px; overflow-y:auto;display:block;">
                    <thead>
                        <tr>
                            <th><b>{{"nazivKulture" | translate}}</b></th>
                            <th><button md-button (click)="changeC()">{{all1}}</button></th>
                        </tr>
                    </thead>

                    <tr *ngFor="let culture of cultures; let i = index">
                        <td>{{culture.Title}}</td>
                        <td><span class="material-switch ">
                <input (click)="checkC()" [ngModelOptions]="{standalone: true}" class="cursor" id="someSwitchOptionSuccess2{{i}}" name="someSwitchOption001" [(ngModel)]="culture.Check" type="checkbox"/>
                <label for="someSwitchOptionSuccess2{{i}}" class="label-success"></label>
                </span>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <input type="button" id="dalje" name="next" class="next action-button" value="{{'Next' | translate}}" />
        </fieldset>
        <fieldset id="drugi">
            <h2 class="fs-title">{{"Podesite uslove" | translate}}</h2>

            <div class="col-xs-12" style="margin-top:10px">
                <div *ngFor="let item of  this.rule.requirement; let i = index">
                    <br>
                    <div class="input-group" id="drugi1">
                    <span  class="input-group-addon">{{"uslov" | translate}}:</span>
               
                    <select class="form-control" style="width: 95%" [(ngModel)]="item.Value" (change)="changeSign(item.Value,item)" [ngModelOptions]="{standalone: true}">
                        <option value="1" >{{"vlaznost" | translate}}</option>
                        <option value="5" >{{"vlaznost1" | translate}}</option>
                        <option value="2">{{"temperatura" | translate}}</option>
                        <option value="3">{{"padavine" | translate}}</option>
                        <option value="4">{{"vetar" | translate}}</option>  
                        <option value="6">{{"U periodu od" | translate}}</option>
                        <option value="7">{{"Kalcijum" | translate}}</option>
                        <option value="8">{{"Fosfor" | translate}}</option>
                        <option value="9">{{"Azot" | translate}}</option>
                        <option value="10">{{"Ph vrednost" | translate}}</option>
                        <option value="11">{{"Natrijum" | translate}}</option>  
                    </select>
                
                    <button *ngIf="rule.requirement.length>1" class="btn btn-danger" style=" min-height: 32px;"  (click)="deleteRequirement(item)" style="background-color: #d9534f;color: white"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
                    <br> 
                    <div *ngIf="item.Value!=6">
                        <div *ngFor="let operation of item.operation; let i = index">
                            <div class="input-group" id="drugi2">
                            <span class="input-group-addon">{{ "operacija" | translate}}:</span>
                   
                            <select class="form-control" [(ngModel)]="operation.Value"  style="width:50%" [ngModelOptions]="{standalone: true}">  
                                <option value="1" >{{"Manje od" | translate}}</option>
                                 <option value="2">{{"Vece od" | translate}}</option>
                                 <option value="3"> {{"Manje ili jednako od" | translate}}</option>
                                 <option value="4">{{"Vece ili jednako od" | translate}}</option>
                                <option value="5">{{"izmedju" | translate}}</option>
                                 <option value="6">{{"Nije izmedju" | translate}}</option>
                            </select>
                           <input class="form-control input-group-addon" id="val{{i}}"  message-position="top"  type="number" *ngIf="operation.Value!=5 && operation.Value!=6"  style="width:50%"  [(ngModel)]="operation.number1" [ngModelOptions]="{standalone: true}"><span *ngIf="operation.Value!=5 && operation.Value!=6" class="input-group-addon"  style="width: 5%">{{item.sign}}</span>
                            <input class="form-control input-group-addon"  id="val{{i}}"  message-position="top"  type="number" *ngIf="operation.Value==5 || operation.Value==6 "  style="width: 25%" [(ngModel)]="operation.number1" [ngModelOptions]="{standalone: true}">
                           
                            <input class="form-control input-group-addon"  id="val2{{i}}"  message-position="top"  *ngIf="operation.Value==5 || operation.Value==6 "  style="width: 25%" type="number"  value="{{item.sign}}" [(ngModel)]="operation.number2" [ngModelOptions]="{standalone: true}"><span *ngIf="operation.Value==5 || operation.Value==6" class="input-group-addon"  style="width: 5%">{{item.sign}}</span>
                            </div>
                            <br>
                            <div class="input-group" id="drugi3">
                                <span *ngIf="item.Value!=1 && item.Value<6">
        
                                    <select class="input-group-addon form-control" [(ngModel)]="item.Time" style="width:50%"  [ngModelOptions]="{standalone: true}">  
                                    <option value="1" >{{"U prethodnom periodu od" | translate}} :</option>
                                     <option value="2">{{"U narednom periodu od" | translate}} :</option>
                                </select>
                                </span>
                                <span *ngIf="item.Value==1 || item.Value>6"  class="input-group-addon">{{"U prethodnom periodu od" | translate}} :</span>
                                <input  message-position="top"  type="number" id="day{{i}}" *ngIf="item.Value==1 || item.Value>6" class="form-control input-group-addon"  [(ngModel)]="item.numberOfDay"  [ngModelOptions]="{standalone: true}" ><span *ngIf="item.Value==1" class="input-group-addon">{{"dana" | translate}}</span>
                           
                                <input  message-position="top"  type="number" id="day{{i}}" *ngIf="item.Value!=1 && item.Value<6" class="form-control input-group-addon" style="width:50%"  [(ngModel)]="item.numberOfDay" [ngModelOptions]="{standalone: true}" ><span *ngIf="item.Value!=1" class="input-group-addon">{{"dana" | translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="item.Value==6">
                                      <div class="input-group fixDatePicker">
<span class="input-group-addon"> {{"Od" | translate}}: </span>
    <datetime [timepicker]="false" [(ngModel)]="item.day1" (ngModelChange)="changeDate(item)" [ngModelOptions]="{standalone: true}"  [datepicker]="datepickerOpts"></datetime>
    
                         <span class="input-group-addon"> {{"Do" | translate}}:</span> 
                   
    <datetime [timepicker]="false" [(ngModel)]="item.day2" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeDate(item)" [datepicker]="datepickerOpts" ></datetime>
                             <span class="input-group-addon">{{"datuma" | translate}}.</span>
                        </div>
                    </div>
                </div>
                <br>
                <button class="action-button" id="addRequi" style="float: left" (click)="addRequirement()">{{"dodaj uslov" | translate}}</button>
                <br>
            </div>

            <input type="button" name="previous" class="previous action-button" id="nazad" value="{{'Previous' | translate}}" />
            <input type="button" name="next" class="next action-button" id="napred1" value="{{'Next' | translate}}" />
        </fieldset>
       
        <fieldset id="treci">
            <h2 class="fs-title">{{"Zadajte akciju" | translate}}</h2>
            <h3 class="fs-subtitle">{{"Postavite obavestenje i prioritet pravila" | translate}}</h3>

            <div class="col-xs-12">
              
                <textarea  message-position="top"  id="message" [(ngModel)]="rule.message" placeholder='  {{"obavestenje" | translate}}:' style="width:90%; margin:auto; height:100px; overflow-x:hidden; overflow-y:auto; resize: none"
                    [ngModelOptions]="{standalone: true}"></textarea>
            </div>
           
                <div id="izbor" class="btn-group" class="col-xs-12">
                    <small>{{"Crveno-veoma bitno,Narandzasto-bitno,Zeleno-neobavezujuce" | translate}}</small>
                    <ul class="fc-color-picker" id="color-chooser" style="margin:auto; margin-bottom:50px; text-align:center; display: block; width:100%">
                        <li style="margin-right:10px"><a (click)="priorityChange(1,'#ff5c33')" class="text-red"><i class="fa fa-square" style="	margin-left: 30px;color: #ff5c33;"></i></a></li>
                        <li style="margin-left:10px; margin-right:10px">
                            <a class="text-yellow" (click)="priorityChange(2,'#ffd11a')"><i style="	margin-left: 30px; color: #ffd11a;" class="fa fa-square"></i></a>
                        </li>
                        <li style="margin-left:10px; margin-right:10px">
                            <a class="text-green" (click)="priorityChange(3,'#66cc66')"><i style="	margin-left: 30px;color: #66cc66" class="fa fa-square"></i></a>
                        </li>
                    </ul>
                </div>
            
            <br>
            <input type="button" id="prev" name="previous" class="previous action-button" value="{{'Previous' | translate}}" />
            <button type="submit" id="btn" name="submit" class="submit action-button" value="Submit" (click)="addRule()">{{"dodaj pravilo" | translate}}</button>
            <!--(click)="addRule()"-->
        </fieldset>
        <!--</md-card-content>-->
    </form>
</div>
<!--</md-card>-->