<nav class="navbar navbar-inverse navbar-fixed-top specialSize blueMenu smallMenu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button (click)="setHeightAnimated()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar ourColor"></span>
        <span class="icon-bar ourColor"></span>
        <span class="icon-bar ourColor"></span>                        
      </button>
        <a>
          <img [src]="logoPath"  routerLink="novi-korisnici"  style="width: 35px; height: 35px; margin-right: 30px; position:relative; top:-3px" ng-disabled="true" />
        </a>
    </div>
    <div class="collapse navbar-collapse blueMenu" id="myNavbar">
      <ul class="nav navbar-nav blueMenu">
        <li *ngFor="let item of items">
          <a (click)="collapse()" class="menuLink hand" routerLink="{{item.anchor}}" routerLinkActive="active">
            <i style="font-size: 20px" class="{{item.icon}} hand" aria-hidden="true"></i> 
            {{ item.text | translate }}
            <span style="position: relative; top: -3px" *ngIf='item.text=="Novi korisnici"' class="badge">{{newUsers}}</span>
            <span style="position: relative; top: -3px" *ngIf='item.anchor=="tehnicka-podrska"' class="badge">{{support}}</span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="logout" style="float: right; margin-left:40px">          
          <a class="menuLink hand" (click)="logOut()"><i style="position: relative; top:2px; font-size: 20px" class="fa fa-sign-out" aria-hidden="true"></i> {{ "LogOut" | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>