.container{
    margin-top: 0 !important;
}
.myContainer{
    margin-top: 0 !important;

}
.icon:hover{
    color: #05bca9 !important;
}
.myClass{
    cursor: pointer;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 60px;
    margin-left: -20px;
    background-color: #e6e6e6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.openMenu{
    cursor: pointer;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 250px;
    margin-left: -20px;
    background-color:  #e6e6e6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
@media screen and(min-width: 786){
    .openMenu{
        width: 100%;
    }
}