<!DOCTYPE html>
<html>
<head>
  <title>Cocktails</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url('coct.jpg'); background-repeat: repeat-y; background-position-x: center;">

<nav class="navbar navbar-inverse" style="text-align:center;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Cocktails</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/home1">All cocktails</a></li>
      <li><a href="/home2">About</a></li>
      <li><a href="/home3">Change page</a></li>
    </ul>
  </div>
</nav>
    <div class="container"  >
        <div class="panel panel-default">   
           <h1>Cocktails</h1>
       </div>
    </div>
    <div style='text-align:center'>
        
      
                        <%-text %>
    </div>




</body>


</html>